body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
 
.maindiv {
    background-color:white;color:black;
    width:500px;padding:20px;
    border-radius:25px;
}

/*create highlight class for highlight text in Javascript */
.highlight {
  background-color: yellow;
}

form {
  display: table;
  margin: 5px 0 0 60px;
  table-layout: auto;
}

form div {
  display: table-row;
  width: 300px;
}

form label {
  width: 130px;
  text-align: left;
  padding-right: 2%;
}

form input[type="range"]{
    width: 12em;
}

form select{
  width: 35px;
}

form label,form input,form select{
  display: table-cell;
  margin:10px 0;
}

form span{
    width: 300px;
    text-align: left;
    margin: 0 0 5px 0;
}

.maindiv button{
    width: 140px;
    margin  : 10px 0 5px 60px;
}